Connected Services/ServiceReference/ServeurDao.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://serveur/" targetNamespace="http://serveur/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listerDemande" type="tns:listerDemande" />
  <xs:element name="listerDemandeResponse" type="tns:listerDemandeResponse" />
  <xs:complexType name="listerDemande">
    <xs:sequence>
      <xs:element minOccurs="0" name="motCle" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listerDemandeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:demandeSql" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="demandeSql">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="host" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="time" type="xs:string" />
      <xs:element minOccurs="0" name="user" type="xs:string" />
      <xs:element name="year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>